{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">Placement Drives</h2>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Drive ID</th>
      <th>Job Role</th>
      <th>Min CGPA</th>
      <th>Eligible Students</th>
      <th>Applicants</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for drive in drives %}
    <tr>
      <td>{{ drive[0] }}</td>
      <td>{{ drive[1] }}</td>
      <td>{{ drive[2] }}</td>
      <td>
        <a href="/eligible/{{ drive[0] }}" class="btn btn-success btn-sm">View Eligible</a>
      </td>
      <td>
        <a href="/view_applicants/{{ drive[0] }}" class="btn btn-primary btn-sm">View Applicants</a>
      </td>
      <td>
        <a href="/delete_drive/{{ drive[0] }}"
        class="btn btn-danger btn-sm"
        onclick="return confirm('Are you sure you want to delete this drive?');">
        Delete
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}