{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-md-6">

    <div class="card shadow">
      <div class="card-body">

        <h3 class="text-center mb-4">Student Registration</h3>

        <form method="post">

          <input class="form-control mb-3" type="text" name="username" placeholder="Username" required>

          <input class="form-control mb-3" type="password" name="password" placeholder="Password" required>

          <input class="form-control mb-3" type="text" name="name" placeholder="Full Name" required>

          <input class="form-control mb-3" type="text" name="roll_no" placeholder="Roll Number" required>

          <input class="form-control mb-3" type="text" name="department" placeholder="Department" required>

          <input class="form-control mb-3" type="number" step="0.01" name="cgpa" placeholder="CGPA" required>

          <input class="form-control mb-3" type="email" name="email" placeholder="Email" required>

          <button class="btn btn-success w-100">Register</button>

        </form>

        <div class="text-center mt-3">
          <a href="/">Already have an account? Login</a>
        </div>

      </div>
    </div>

  </div>
</div>

{% endblock %}