<!DOCTYPE html>
<html>
<head>
<title>Student Registration</title>
</head>

<body>

<h2>Student Registration</h2>

<form action="/register" method="post">

Username:<br>
<input type="text" name="username"><br><br>

Password:<br>
<input type="password" name="password"><br><br>

Name:<br>
<input type="text" name="name"><br><br>

Roll No:<br>
<input type="text" name="roll_no"><br><br>

Department:<br>
<input type="text" name="department"><br><br>

CGPA:<br>
<input type="text" name="cgpa"><br><br>

Email:<br>
<input type="text" name="email"><br><br>

<button type="submit">Register</button>

</form>

</body>
</html>